
nav.navigation 
    .naviagtion_wrapper 
        a.navigation_link(href="/")=meta.data.title
        svg.naviagtion_link_icon 

    ul.navigation_list 
        each item in navigation.data.list
            li.navigation_list_item 
                a.navigation_list_link(href=Link(item.link))=item.text