
nav.navigation 
    .naviagtion_wrapper 
        a.navigation_link(href="/")
            | Floema 
        svg.naviagtion_link_icon 

    ul.navigation_list 
        li.navigation_list_item 
            a.navigation_list_link(href="/about") About
            
        li.navigation_list_item 
            a.navigation_list_link(href="/collections") Collections