.about_highlight {
    position: relative;
    margin: 20rem 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.about_highlight_wrapper {

}

.about_highlight_label{

}
.about_highlight_title{

}
.about_highlight_media {

}
.about_highlight_media_image{

}